<h1>Notificación de Orden de Corte</h1>
<p>Hola!</p>
<p>Se ha asignado una nueva orden de corte con los siguientes detalles:</p>
<ul>
  <li><strong>ID Orden:</strong> {{ cutting_order.pk }}</li>
  <li><strong>Cliente:</strong> {{ cutting_order.customer }}</li>
  <li>
    <strong>Cantidad a Cortar:</strong> {{ cutting_order.cutting_quantity }}
  </li>
  <li><strong>Estado:</strong> {{ cutting_order.status }}</li>
  <li><strong>Asignado a:</strong> {{ cutting_order.operator.username }}</li>
</ul>
<p>Gracias,</p>
<p>El desarrollador Emanuel Diaz</p>
